@font-face {
  font-family: 'Southwell';
  src: url('../font/Southwell.ttf') format('truetype');
}

@font-face {
  font-family: 'Medicine';
  src: url('../font/MEDICINE\ SHOW\ CAPS.ttf SHOW CAPS.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ensures full viewport height */
}

main {
  flex: 1; /* pushes footer to bottom if content is short */
}

body {
    background-image: 
        linear-gradient(to left, rgba(9, 128, 0, 0.4), rgba(95, 105, 21, 0.6)),
        url('../images/DSCF4977-1-1-e1737482415201.webp');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/** NAVIGATION BAR **/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    text-align: center;
    white-space: nowrap;
}

.logo-search {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.logo-white {
    height: 50px;
    width: auto;
    pointer-events: none;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background: white;
    border-radius: 50px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 20px;
    width: 100%;
    min-width: 0px;
}

.search-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #056839;
    font-size: 1rem;
    padding-right: 5px;
    flex-shrink: 0;
}

.nav-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    transition: right 0.4s ease;
}

#menu-toggle:checked ~ .nav-drawer {
    right: 0;
}

#menu-toggle, .close-icon {
    display: none;
}

.menu-icon {
    margin-left: auto;
    display: block;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.nav li, a, button {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
    padding: 0.5rem;
    padding-top: 2rem;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
    pointer-events: none;
}

.logo-white {
    cursor: pointer;
    width: 80px;
    height: 80px;
    padding: 0.5rem;
    filter: brightness(0) invert(1);
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav_links li a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    transition: color 0.3s ease;
}

.nav_links li a:hover {
    color: #056839;
}

.nav_links .account {
    color: #056839;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav_links .account:hover {
    color: white;
    background-color: #056839;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 22vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 10;
    list-style: none;
}

.dropdown-content li a {
    padding: 10px 14px;
    color: white;
}

.dropdown-content li a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    cursor: pointer;
}

/** ACCOUNT SECTION **/

.account-section {
    z-index: 1;
    position: relative;
    overflow: visible;
    text-align: center;
    margin: 0;
}

.youraccount-section {
    z-index: 1;
    position: relative;
    overflow: visible;
    text-align: center;
    margin: 0;
}

.account-content {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0%;
    padding-bottom: 3rem;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: visible;
    z-index: 1;
}

.youraccount-content {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: -5rem;
    padding: 3rem 0%;
    padding-bottom: 10rem;
    position: relative;
    background-color: rgb(196, 187, 159);
    overflow: visible;
    z-index: 1;
}

.account-content .heading {
    font-size: 3rem;
    font-family: Elephant;
    margin-bottom: 1rem;
    color: #5a4a3f;
    text-shadow: 0 0 1px black;
}

.youraccount-content .heading {
    font-size: 3rem;
    font-family: Elephant;
    margin-bottom: 1rem;
    color: #3a3520;
    text-shadow: 0 0 1px black;
}

.youraccount-content p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5a4a3f;
    line-height: 1.6;
}

.account-content p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* Profile Card */

.profile-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

.profile-top {
    display:flex;
    justify-content: space-between;
    background-color: #F7941D;
    padding: 0rem 1rem;
}

.license-logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
    padding: 1rem;
    filter: brightness(0) invert(1);
}

.profile-card {
    background: #ffffff;
    border-radius: 12px;
    max-width: 650px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    overflow: hidden;
}

/* Title/Header */
.profile-title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.2rem;
}

/* Main Body*/
.profile-body {
    display: flex;
    padding: 1.5rem;
    gap: 2rem;
}

/* Profile Photo */
.profile-photo img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #aaa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Profile Info */
.profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.77rem;
}

.profile-info p {
    margin: 0;
    color: #222;
    line-height: 1.1;
}

.profile-info strong {
    width: 70px;
    color: #555;
}

/* Buttons */
.edit-btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background: #F7941D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.95rem;
}

.edit-btn:hover {
    background: #e6850d;
}

/* Inline form */
.edit-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-top: 1rem;
    margin-left: -172px;
}

.edit-form label {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: #333;
    font-family: bebas neue;
}

.edit-form input {
    margin-top: 0.2rem;
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.95rem;
    
}

.edit-form select {
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.95rem;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
    width: 100%; /* optional: match input width */
    box-sizing: border-box;
}

/* Form buttons */
.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.form-buttons button {

    padding: 0.6rem 1.2rem;
    font-size: 0.95rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: #F7941D;
    color: #fff;
}

.form-buttons button[type="reset"] {
    background: #dc3545;
}

.form-buttons button:hover {
    opacity: 0.9;
}

/** FOOTER **/

footer {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -8rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    z-index: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
    margin-top: 8rem;
    width: 100%;
}

.footer-content .logo {
    width: 100px;
    height: auto;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #F7941D;
}

.socials {
    display: flex;
    gap: 1.5rem;
}

.socials a {
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
    width: 40px;
    height: 40px;
}

.socials a i {
    font-size: 2rem;
}

.socials a:hover {
    color: #F7941D;
}

.footer-bottom {
    width: 100%;
    padding-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

/** SECTION DESIGN **/

.circ-top {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    z-index: 2;
    pointer-events: none;
}

.rip-top {
    display: block;
    width: 100%;
    height: auto;
    transform: rotate(0deg);
    margin-bottom: 0px;
    z-index: 2;
    pointer-events: none;
}

.rip-bot {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    transform: rotate(180deg);
    margin-top: -2px;
    z-index: 2;
    pointer-events: none;
}

/** MEDIA @ MEDIA **/

/** DESKTOP VIEW **/

@media (min-width: 1025px) {

    .nav-drawer {
        position: static;
        height: auto;
        background: none;
        color: inherit;
        flex-direction: row;
        width: auto;
        justify-content: flex-end;
        gap: 1rem;
        transition: none;
    }

    .nav_links {
        flex-direction: row;
        gap: 1rem;
    }

    .menu-icon {
        display: none;
    }

}

/** TABLET VIEW **/

@media (min-width: 768px) and (max-width: 1024px) {

    header {
        padding-top: 3rem;
    }

    nav ul {
        display: none;
    }

    .logo-white {
        width: 100px;
        height: 100px;
    }

    .search-bar input {
        width: 250px;
        height: 60px;
    }

    .search-bar button, .search-bar input {
        font-size: 2rem;
    }

    .menu-icon {
        font-size: 3rem;
    }

    .nav_links {
        gap: 1rem;
    }

    .nav-drawer .nav_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        list-style: none;
        padding: 0;
    }

    .nav-drawer .nav_links li a {
        color: white;
        text-decoration: none;
        font-size: 3rem;
        transition: color 0.3s ease;
        gap: 20px;
    }

    .account {
        font-size: 3rem;
    }

    .nav-drawer .nav_links li a:hover {
        color: #056839;
    }

    .dropdown:active .dropdown-content {
        display: block;
    }

    .dropdown-content li a {
        display: block;
        text-align: center;
    }

    .dropdown-center {
        display:flex;
        justify-content: center;
    }

    .close-icon {
        display: block;
        position: absolute;
        top: 3rem;
        right: 5.2rem;
        font-size: 2.2rem;
        cursor: pointer;
    }

    /** ACCOUNT SECTION **/

    .youraccount-content {
        padding-bottom: 8rem;
    }W

    .youraccount-section, .account-section {
        padding-top: 2rem;
    }

    .youraccount-section p, .account-content p {
        margin-bottom: 0rem;
    }

    /** FOOTER **/

    .logo {
    padding-top: 0rem;
    }
    
}

/** MOBILE VIEW **/

@media (max-width: 767px) {

    /** NAVIGATION BAR **/

    header {
        padding-top: 2rem;
    }

    nav ul {
        display: none;
    }

    .search-bar input {
        width: 100px;
    }

    .nav_links {
        gap: 1rem;
    }

    .nav-drawer .nav_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        list-style: none;
        padding: 0;
    }

    .nav-drawer .nav_links li a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        transition: color 0.3s ease;
        gap: 20px;
    }

    .account {
        font-size: 1.5rem;
    }

    .nav-drawer .nav_links li a:hover {
        color: #056839;
    }

    .dropdown:active .dropdown-content {
        display: block;
    }

    .dropdown-content li a {
        display: block;
        text-align: center;
    }

    .dropdown-center {
        display:flex;
        justify-content: center;
    }

    .close-icon {
        display: block;
        position: absolute;
        top: 3.5rem;
        right: 2.5rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .nav_links {
        display: none;
    }

    .nav_links i {
        font-size: 3vh;
    }

    .menu-icon {
        display: flex;
    }

    .nav_links .account {
        padding: 9px 15px;
        background-color: rgb(255, 255, 255);
    }

    .account-content .heading, .account-content-top .heading {
        font-size: 2.5rem;
        padding: 0 2rem;
    }

    .account-content .subtext, .account-content-top .subtext {
        font-size: 1rem;
        padding: 0 2rem;
    }

    /** ACCOUNT SECTION **/

    .youraccount-content {
        padding-bottom: 6rem;
    }

    .youraccount-section, .account-section {
        padding-top: 2rem;
    }

    .youraccount-section .heading, .youraccount-section p, .account-content .heading {
        padding: 0rem 50px;
    }

    /** PROFILE INFORMATION **/
    
    .profile-card {
     transform: scale(0.8);
    }

    .profile-container {
        padding: 0rem;
    }

    .profile-photo img {
        width: 100px;
        height: 100px;
    }

    .profile-info p {
        font-size: 0.8rem;
    }

    .profile-body {
        display: flex;
        padding: 0.8rem;
        gap: 2rem;
    }

    .profile-info {
        gap: 0.62rem;
    }

    .edit-form {
        margin-left: -132px;
    }

    .edit-btn, .form-buttons button {
        font-size: 0.9rem;
        padding: 0.3rem 0.6rem;
    }

    /** FOOTER **/

    .logo {
    padding-top: 0rem;
    }

}
